<% if @event.errors.any? %>
  <% @event.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit event #<%= @event.id %>
</h1>

<hr>

<form action="/update_event/<%= @event.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @event.name %>">
  </div>

  <div class="form-group">
    <label for="discription">
      Discription
    </label>

    <textarea id="discription" name="discription" class="form-control" rows="3"><%= @event.discription %></textarea>
  </div>

  <div class="form-group">
    <label for="venue">
      Venue
    </label>

    <input type="text" id="venue" name="venue" class="form-control" value="<%= @event.venue %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update event
  </button>
</form>

<hr>

<a href="/events">
  Go back
</a>
