<h1>
  Edit bookmark #<%= @bookmark.id %>
</h1>

<hr>

<!-- Form bookmark start -->
<form action="/update_bookmark/<%= @bookmark.id %>" method="post" enctype="multipart/form-data">
<!-- Form bookmark end -->

  <!-- Label and input for user_id start -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for notes start -->
  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <!-- Input for notes start -->
    <textarea id="notes" name="notes" class="form-control" rows="3"><%= @bookmark.notes %></textarea>
    <!-- Input for notes end -->
  </div>
  <!-- Label and input for notes end -->

  <!-- Label and input for image start -->
  <div class="form-group">
    <label for="image">
      Image
    </label>

    <!-- Input for image start -->
    <%= cl_image_tag(@bookmark.image.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="image" name="image" class="form-control">
    <!-- Input for image end -->
  </div>
  <!-- Label and input for image end -->

  <!-- Label and input for event_id start -->
  <div class="form-group">
    <label for="event_id">
      Event
    </label>

    <!-- Input for event_id start -->
    <%= select_tag(:event_id, options_from_collection_for_select(Event.all, :id, :name, @bookmark.event_id), :class => "form-control") %>
    <!-- Input for event_id end -->
  </div>
  <!-- Label and input for event_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update bookmark
  </button>
</form>

<hr>

<a href="/bookmarks">
  Go back
</a>
